<footer>
    <div class="container">
      <ul class="footer-ul">
        <li>
          <a href="">
            <img src="../assets/imagens/icon-svg.png" alt="" class="img-responsive">
          </a>
        </li>
        <li>
          <a href="">
            <img src="../assets/imagens/icon-svg.png" alt="" class="img-responsive">
          </a>
        </li>
        <li>
          <a href="">
            <img src="../assets/imagens/icon-svg.png" alt="" class="img-responsive">
          </a>
        </li>
        <li>
          <a href="">
            <img src="../assets/imagens/icon-svg.png" alt="" class="img-responsive">
            <ul class="sub-menu">
              <li>
                <a href="">
                  <img src="../assets/imagens/icon-svg.png" alt="" class="img-responsive">
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <img src="../assets/imagens/icon-svg.png" alt="" class="img-responsive">
                </a>
              </li>
            </ul>
          </a>
        </li>
      </ul>
    </div>
  </footer> 