

<form [formGroup]="form">

    <mat-form-field appearance="fill">
      <mat-label>Nome do Hamburguer</mat-label>
      <input matInput formControlName="hamburguer" >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ingrediente 1</mat-label>
      <input matInput formControlName="ingrediente_2">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ingrediente 2</mat-label>
      <input matInput formControlName="ingrediente_3">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ingrediente 3</mat-label>
      <input matInput formControlName="ingrediente_4">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ingrediente 4</mat-label>
      <input matInput formControlName="ingrediente_1">
    </mat-form-field>

    <button (click)="enviarHamburguer()" mat-raised-button color="accent">adicionar</button>

  </form>




