<!-- <button (click)="onAdd()" mat-raised-button color="warn">Adicionar</button>

<div *ngFor="let item of listaHamburguer" >
  {{ item.id }}
  <h1>{{ item.hamburguer }}</h1>
  <p>{{ item.ingrediente_1 }}</p>
  <p>{{ item.ingrediente_2 }}</p>
  <p>{{ item.ingrediente_3 }}</p>
  <p>{{ item.ingrediente_4 }}</p>
  <p>{{ item.preco_hamburguer }}</p>

  <button (click)="onDelete(item.id)" >Deletar</button>

</div>


 -->

 

 <app-header></app-header>
 <main>
     <div class="container">
         <div class="flex">
             <a class="box-100 btn-cardapios" href="../cardapio-aperitivos">Aperitivos</a>
             <a class="box-100 btn-cardapios" href="../cardapio-hamburgueres">Hambúrgueres</a>
             <a class="box-100 btn-cardapios" href="">Pratos</a>
             <a class="box-100 btn-cardapios" href="">Sushis</a>
             <a class="box-100 btn-cardapios" href="">Sobremesas</a>
         </div>
     </div>
 </main>
 <app-footer></app-footer>
