<form [formGroup]="form">

  <mat-form-field appearance="fill">
    <mat-label>Nome do Prato</mat-label>
    <input matInput formControlName="prato" >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Ingrediente 1</mat-label>
    <input matInput formControlName="ingrediente_1">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Ingrediente 2</mat-label>
    <input matInput formControlName="ingrediente_2">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Ingrediente 3</mat-label>
    <input matInput formControlName="ingrediente_3">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Ingrediente 4</mat-label>
    <input matInput formControlName="ingrediente_4">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Preço</mat-label>
    <input matInput formControlName="preco_prato">
  </mat-form-field>

  <button (click)="enviarPrato()" mat-raised-button color="accent">adicionar</button>

</form>
