<app-header></app-header>
<main>
    <div class="container">
        <div class="flex">
            <div class="box-100">
                <div class="box-title-fav">
                    <h1>Bem-vindo à sessão de favoritos.</h1>
                </div>
            </div>
            <div class="box-100">
                <div class="box-tipo-cardapio">
                    <a href="/burguerOne">Easy Burguer</a>
                </div>
                <div class="box-tipo-cardapio-1">
                    <a href="/cardapio-aperitivos">Easy Espetinhos</a>
                </div>
                <div class="box-tipo-cardapio-2">
                    <a href="/cardapio-aperitivos">Easy Sushi</a>
                </div>
                <div class="box-tipo-cardapio-3">
                    <a href="/cardapio-aperitivos">Easy Comidinhas</a>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>