<main>
    <div class="container">
      <div class="flex">
        <a class="box-item-cardapio" href="">
          <p>Item 1</p>
          <a href="">x</a>
        </a>
        <a class="box-item-cardapio" href="">
          <p>Item 2</p>
          <a href="">x</a>
        </a>
        <a class="box-item-cardapio" href="">
          <p>Item 3</p>
          <a href="">x</a>
        </a>
        <a class="box-item-cardapio" href="">
          <p>Item 4</p>
          <a href="">x</a>
        </a>
        <a class="box-item-cardapio" href="">
          <p>Item 5</p>
          <a href="">x</a>
        </a>
        <a class="box-item-cardapio" href="">
          <p>Item 6</p>
          <a href="">x</a>
        </a>
        <a class="box-item-cardapio" href="">
          <p>Item 7</p>
          <a href="">x</a>
        </a>
      </div>
    </div>
  </main>